.wrapper {
  width: 100%;
  height: 150px;
  /* background-color: red; */
}

.title_logo {
  margin-top: 3%;
  width: 35%;
  height: 75px;
  /* background-color: green; */
  margin-left: 10%;
  /* line-height: 150px; */
  font-size: 20px;
}
.logo {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.logo_des {
  width: 100%;
  margin-left: 39%;
}

.search_bar {
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  height: 100px;
  /* background-color: red; */
}
