.wrapper1 {
  width: 100%;
  height: 150px;
  /* background-color: red; */
}

.title_logo {
  margin-top: 3%;
  width: 35%;
  height: 75px;
  /* background-color: green; */
  margin-left: 10%;
  /* line-height: 150px; */
  font-size: 20px;
}
.logo {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.logo_des {
  width: 100%;
  margin-left: 39%;
}

.search_bar {
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  height: 100px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.search_form > input {
  padding: 15px;
  height: 20px;
  padding-left: 30px;
  width: 25%;
  border-radius: 5px;
  border: 1px solid rgb(177, 177, 177);
  font-size: 18px;
}

.search_form > .check_dates {
  display: inline-block;
  width: 15%;
}

.check_date {
  position: absolute;
  top: 225px;
  margin-left: 2%;
}

.guest-room-count {
  width: 20%;
  height: 67px;
  display: inline-block;
  vertical-align: top;
}

.select-guests-rooms {
  width: 100%;
  height: 71px;
  padding: 15px 25px;
  display: inline;
  border: 1px solid rgb(90, 90, 90);
  background-color: white;
}

.searchHotel {
  height: 70px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  /* background-color: orange; */
}

.searchBtn {
  height: 70px;
  width: 100%;
  background-color: rgb(88, 148, 217);
  border: 1px solid rgb(90, 90, 90);

  /* padding: 10px 50px;
 
  border: none;
  border-radius: 4px; */
}

.search_form > .searchLocation {
  /* background-color: yellow; */
  width: 28%;
  height: 67px;
  display: inline-block;
}

.date_picker {
  /* background-color: green; */
  width: 16%;
  height: 67px;
  display: inline-block;
}

.date_picker > .check_dates {
  /* width: 10%; */
  height: 67px;
  font-size: 16px;
  padding-left: 13px;
}

.date_picker > .check_date {
  font-size: 18px;
  font-weight: bold;
}
