.getHotelsByLocation {
  width: 80%;
  margin-left: 10%;
  /* background-color: red; */
}

.home_card:hover > .favourite_icon {
  /* cursor: pointer; */
  display: block;
}
.card-img-top {
  width: 340px;
  height: 200px;
  /* object-fit: contain; */
}

.favourite_icon {
  margin-top: 1%;
  position: absolute;
  top: 0;
  left: 85%;
  display: none;
}

.favourite_icon:hover {
  cursor: pointer;
  color: rgb(255, 147, 147);
  background-color: rgb(255, 0, 0);
}

.home_card:hover > .favourite_icon {
  /* cursor: pointer; */
  display: block;
}

.home_price {
  width: 35%;
  border-radius: 20px;
  padding-left: 4px;
  background-color: #d4e9d7;
  margin-left: 3%;
  margin-top: 50%;
  position: absolute;
  top: 0;
}
