.count_modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
  top: 35%;
  left: -25%;
  /* justify-content: center;
  align-items: center; */
}

.count_content {
  width: 250px;
  height: 220px;
  background-color: white;
  border-radius: 10px !important;
  z-index: 2;
  box-shadow: 0px 0px 9px 2px rgba(137, 200, 232, 0.5);
  position: relative;
}

.guests_rooms_count {
  margin: 10px;
}

.guests {
  padding: 10px;
}

.guests > input {
  width: 20%;
}

.rooms {
  padding: 10px;
}

.rooms > input {
  width: 20%;
}

.changeBtn {
  padding: 5px 10px;
  margin: 10px;
  background-color: white;
  border: 1px solid black;
}

.inputCount {
  /* padding: 5px 3px; */
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.buttons {
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
}

.reset {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.submitCount {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}
